/*Auth*/
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: rgba(255, 255, 255, 0.59);
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-default {
    background-color: #012c64;
    border-color: #012c64;
  }

    .navbar-brand {
    color: rgba(255, 255, 255, 0.59);
  }

  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 500;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #00000029;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }

  nav ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  nav ul li.nav-item.active:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .name-logo {
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 20px;
  }

  .slogan {
    font-family: Monotype Corsiva;
    font-size: 18px !important;
  }

  p.h4 {
    font-weight: 600;
  }

  .container-fluid > div.row {
    margin-left: 5%;
    margin-right: 5%;
  }

  .login-box {
    margin: 70px auto;
    padding: 10px 60px 10px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(112, 112, 112, 0.4);
    -moz-box-shadow: 0px 3px 10px 0px rgba(112, 112, 112, 0.4);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
    background: white;
    border-radius: 3px;
  }

  .login-box-intern {
    padding-top: 20px;
  }

  .namespace {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .input-group-addon {
    padding: 5px 10px;
  }

  .login-box-intern button.btn-primary {
    width: 60%;
  }

  .forgot-password {
    text-align: center;
    margin-top: 30px;
  }

  .page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #012c64;
  }

  .page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.05);
  }

  /*login progress*/
  .login-check-progress {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.56);
    z-index: 500;
  }

  .spinner-blue-only {
    border-color: #012c64;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #ffffff;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    color: #fff;
    background-color: #00000029;
  }
  .form-box {
    margin: 0px auto 70px;
    padding: 10px 60px 10px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(112, 112, 112, 0.4);
    -moz-box-shadow: 0px 3px 10px 0px rgba(112, 112, 112, 0.4);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
    background: white;
    border-radius: 3px;
  }

  .form-box-intern {
    padding-top: 20px;
  }

  input[type="email"] {
    height: auto;
    padding: 15px;
  }

  .btn-primary.forgot-button {
    width: 60%;
    padding: 20px;
    font-weight: 600;
  }
/*
Dashboard
*/
.wrapper {
    display: block;
    width: 100%;
}

#sidebar {
    width: 300px;
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 300px;
    max-width: 300px;
    position: fixed;
    /* top layer */
    z-index: 9999;
    background: #FFF;
    color: #000;
    transition: all 0.3s;
}

#sidebar {
    margin-left: -300px;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    height: 200px;
    max-height: 200px;
    padding: 20px 20px 5px;
    background-size: cover;
    flex-direction: column;
    color: #FFF;
}

#sidebar .sidebar-header .avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#sidebar .sidebar-header .name {
    margin-bottom: 0;
    padding-bottom: 0;
}

#sidebar .sidebar-header .role {
    font-size: 14px;
    margin-bottom: 0px;
}

#sidebar ul.components {
    border-bottom: 1px solid rgb(189, 189, 189);
}

#sidebar ul p {
    color: #000;
    background-color: #E4E4E4;
    padding: 10px;
    font-weight: 600;
}

#sidebar ul li a {
    padding: 10px;
    font-weight: 500;
    display: block;
}

/*#sidebar ul li a:hover {
    color:#FFF;
    background: #012c64;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #012c64;
}*/

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #012c64;*/
    color: #000;
    font-weight: 400 !important;
}
#sidebar ul ul a:hover{
    color: #FFF;
    background-color: #012c64e7 !important;
}

.overlay {
    opacity: 0;
    position: fixed;
    /* full screen */
    width: 0vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.5);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    /* animate the transition */
    -webkit-transition: opacity .4s ease-in-out, width .1s ease-in .4s;
    transition: opacity .4s ease-in-out, width .1s ease-in .4s;

}

/* display .overlay when it has the .active class */
.overlay.active {
    opacity: 1;
    width: 100vw;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

#dismiss {
    width: 24px;
    height: 24px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#sidebar div.dropdown-menu.show{
    transform: translate3d(100px, 0px, 0px) !important;
    transition: all .2s;
}
span.navbar-brand{
    color: #FFF;
}
#sidebarCollapse{
    cursor: pointer;
}
#sidebarCollapse:active{
    color:#8b8b8b !important;
}
/*##############################3*/
